@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #525479;
  --foreground: #525479;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground:#525479;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans)
}
